<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds" packagingData="true">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/application.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>log/application-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
      <maxFileSize>500MB</maxFileSize>
      <maxHistory>2880000</maxHistory>
      <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <springProfile name="production">
    <root level="INFO">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="ROLLING" />
    </root>
  </springProfile>

  <springProfile name="!production">
    <logger name="net.friend" level="INFO"/>

    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>

</configuration>